<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hack Manchester</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
   <!--***************************************************** PAST INCIDENTS *************************************************************-->
    <script type='text/javascript'
            src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap&branch=experimental'
            async defer>

    </script>
    <script type='text/javascript'>
        function GetMap() {
            var map = new Microsoft.Maps.Map('#myMap', {
                credentials: "AmPenssjfb0PA6UhtIjVZY4Iil0M4bx-0pd8jvIMkVy9FnMXvZadH7TQZU63a6tk",
                mapTypeId: Microsoft.Maps.MapTypeId.road,
                center: new Microsoft.Maps.Location(53.469782, -2.295432),
                zoom: 12
            });

            //Generate a 50,000 random locations that are within the bounds of the map view.
            var locs = Microsoft.Maps.TestDataGenerator.getLocations(100, map.getBounds());

            //Load the HeatMap module.
            Microsoft.Maps.loadModule('Microsoft.Maps.HeatMap', function () {
                var heatmap = new Microsoft.Maps.HeatMapLayer(locs, {
                    intensity: 0.65,
                    radius: 1000,
                    unit: 'meters',
                    colorGradient: {
                        '0': 'Black',
                        '0.4': 'Purple',
                        '0.6': 'Red',
                        '0.8': 'Yellow',
                        '1': 'White'
                    }
                });
                map.layers.insert(heatmap);
            });

       
            var trafficManager;

                //Load traffic module.
                Microsoft.Maps.loadModule('Microsoft.Maps.Traffic', function () {
                    //Create an instance of the traffic manager and bind to map.
                    trafficManager = new Microsoft.Maps.Traffic.TrafficManager(map);
                    trafficManager.showLegend();

                    //Display the traffic data.
                    trafficManager.showIncidents();
                });

            }
        

        
        /***************************************************** PRESENT INCIDENTS *************************************************************/


    </script>
    <!--******************************************************************************************************************-->



       
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-custom">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hack Manchester", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - Hack Manchester</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
